/*Header Styling*/
header {
    width: 100%;
    border: 3px solid black;
    background: white;
    color: black;
    font-family: Roboto, sans-serif;
    overflow: hidden;
    height: auto;

}

header h1, .create_user {
    text-align: center;
    overflow: hidden;
}

header h1 a{
    text-decoration: none
}
/*End Header */

body {
    width: 100%;
    /*border: 5px solid black;*/
    position: center;
    background: #e65c5c;
    font-family: Roboto, sans-serif;
    color: black;
    min-height:100vh;
    overflow: hidden;
}
div #questions h1{
    text-align: center;
    font-weight: 700;
    font-family: Roboto, sans-serif;

}
form{
    font-size: 25pt;
    text-align: center;
}

.form-group input{
    width: 50%;
    border: 5px solid black;
    text-align: center;
    background: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

.content{
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    text-align: center;
    background: white;
    color: black;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

button, .btn .btn-primary .btn-lg{
    background: #ffff9a;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary:hover {
    background: #ffff9a;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
    align-items: center;
}

/*#person, #adjective, #noun, #insect, #noun2, #verb{*/
/*    width: 50%;*/
/*    border: 0.3125em solid black;*/
/*    text-align: center;*/
/*    background: white;*/
/*    color: black;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    font-family: Roboto, sans-serif;*/
/*    overflow: hidden;*/
/*}*/
footer {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-left: 1px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align: center;
    color: black;
    position: absolute;
    bottom: 0;
    font-family: Roboto, sans-serif;
    background: #96f892;
    overflow: hidden;
}


