body {
    background: #e65c5c;
}

footer {
    background: #96f892;
}

header, body, footer, svg{
    font-family: 'Asap', sans-serif;
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { .selector {} }
@media screen and (min--moz-device-pixel-ratio:0) {}
@media all and (min--moz-device-pixel-ratio:0) { @media (min-width: 0px) {} }
@media all and (-moz-images-in-menus:0) { @media (min-width: 0px) {} }

#questions h1{
    font-size: 1.2em;
    text-align: center;
}